<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="${titolo}">Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <div class="container">
            <main>
                <h1  th:text="${titolo}">viaggi</h1>
                
                <table>
				  <tr>
				    <th>Nome Viaggio</th>
				    <th>Destinazione</th>
				    <th>Prezzo</th>
				  </tr>
				  <tr th:each="viaggio:${viaggi}">
				    <td th:text="${viaggio.nomeViaggio}">Row 1: Col 1</td>
				    <td th:text="${viaggio.destinazione}">Row 1: Col 2</td>
				    <td th:text="${viaggio.prezzo}">Row 1: Col 2</td>
				  </tr>
				</table>

             
            </main>
        </div>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
